---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPostsExcludeUnlisted, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPostsExcludeUnlisted();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-4 text-4xl sm:text-5xl">Hi, I'm Kevin Ge</h1>
		<p class="mb-2">I’m a Software Engineer and CS student at UTD.</p>
		<ul class="mb-4 list-inside list-disc text-xl sm:text-2xl">
			<li>
				<a
					class="text-underline text-link"
					target="_blank"
					href="/rocket.pdf">2025 We built a rocket engine.</a> (literally)
			</li>
			<li>
				2025 Intern at Google, working on Google's largest KV Store (X00 million QPS)
			</li>
			<li>
				2024 Automous Vehicle Researcher at <a
					class="text-underline text-link"
					target="_blank"
					href="https://nova-utd.github.io/">Nova</a
				>.
			</li>
			<li>
				2024 Intern at <a
					class="text-underline text-link"
					target="_blank"
					href="https://about.google.com">Google</a
				> on Google Cloud Compute Engine (STEP).
			</li>
			<li>
				2023 Intern at <a
					class="text-underline text-link"
					target="_blank"
					href="https://about.google.com">Google</a
				> on Core SRE (STEP).
			</li>
			<li>
				Former Product Builder & Technical Lead for <a
					class="text-underline text-link"
					target="_blank"
					href="https://utdplanner.com">NL Planner</a
				>.
			</li>
			<li>
				Former Experience Coordinator/Organizer for <a
					class="text-underline text-link"
					target="_blank"
					href="https://x.hackutd.co">HackUTD</a
				>.
			</li>
		</ul>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16 text-xl sm:text-2xl">
		<h2 class="title mb-4 text-2xl sm:text-3xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
