---
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { getAllPostsExcludeUnlisted, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPostsExcludeUnlisted();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-4">Hi, I'm Kevin Ge</h1>
		<p class="mb-2">I’m a Software Engineer and CS student at UTD.</p>
		<ul class="mb-4 list-inside list-disc">
			<li>
				2023 STEP Intern at <a
					class="text-underline text-link"
					target="_blank"
					href="https://google.com">Google</a
				> on Core SRE.
			</li>
			<li>
				Former Technical Lead for the <a
					class="text-underline text-link"
					target="_blank"
					href="https://utdplanner.com">Nebula Labs Planner</a
				> team.
			</li>
			<li>
				Former Experience Coordinator on the <a
					class="text-underline text-link"
					target="_blank"
					href="https://x.hackutd.co">HackUTD</a
				> organizing team.
			</li>
		</ul>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-2xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
